<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Packvorgang Ihres Webprojekts verwendet. Sie können das Verhalten dieses Vorgangs anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Besuchen Sie "http://go.microsoft.com/fwlink/?LinkID=208121", um weitere Informationen zu erhalten. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://stigmata.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>stigmata.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Stigmata</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Stigmata</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SoproDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=r1zv0zmzgq.database.windows.net;Initial Catalog=SoproDB;Persist Security Info=True;User ID=stikmata;Password=123456Qw;Application Name=EntityFramework" Name="Data Source=r1zv0zmzgq.database.windows.net;Initial Catalog=SoproDB;Persist Security Info=True;User ID=stikmata;Password=123456Qw;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sopro.Models.SoproDBEntities, Sopro" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SoproDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SoproDBModel.csdl|res://*/Models.SoproDBModel.ssdl|res://*/Models.SoproDBModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=r1zv0zmzgq.database.windows.net;Initial Catalog=SoproDB;Persist Security Info=True;User ID=stikmata;Password=123456Qw;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>